In [1]:
import pandas as pd
import numpy as np
import folium
from folium import plugins

In [3]:
df = pd.read_csv("caso_covid.csv")

In [6]:
df.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-09-02,AP,NaN,state,43800,668,166,True,845731.0,16.0,5178.95170,0.0153
1,2020-09-01,AP,NaN,state,43514,663,165,False,845731.0,16.0,5145.13480,0.0152
2,2020-08-31,AP,NaN,state,43193,661,164,False,845731.0,16.0,5107.17947,0.0153
3,2020-08-30,AP,NaN,state,42892,660,163,False,845731.0,16.0,5071.58896,0.0154
4,2020-08-29,AP,NaN,state,42771,659,162,False,845731.0,16.0,5057.28181,0.0154

In [7]:
cidades = pd.read_csv("cidades_brasil.csv")

In [8]:
cidades.head()

   codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2      5200100            Abadiânia -16.19700   -48.7057        0         52
3      3100203               Abaeté -19.15510   -45.4444        0         31
4      1500107           Abaetetuba  -1.72183   -48.8788        0         15